.container {
  position: relative;
  width: 200px;
  height: 200px;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 100px 0 0;
  border-color: transparent;
}

.red {
  border-right-color: red;
  transform: rotate(90deg);
}

.green {
  border-top-color: green;
  right: 0;
}

.blue {
  border-left-color: blue;
  bottom: 0;
  transform: rotate(270deg);
}

.yellow {
  border-bottom-color: yellow;
  left: 0;
  transform: rotate(180deg);
}
